
<section id="banner" data-video="images/banner">
  <div class="inner">
    <header>
      <h1>Contact Book</h1>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br />
      simply dummy text of the printing and typesetting industry.</p>
    </header>
    <button *ngIf="!(user | async)?.uid" class="btn btn-danger" (click)="login()"><i class="fa fa-google-plus icon" aria-hidden="true"></i><span class="sign">Sign In with google</span></button>
    <a *ngIf="(user | async)?.uid" routerLink="listings" class="btn btn-success">Listings <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
  </div>
</section>

